@font-face {
    font-family: 'Gabarito';
    src: url('../font/Gabarito-Black.woff2') format('woff2'),
        url('../font/Gabarito-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabarito';
    src: url('../font/Gabarito-ExtraBold.woff2') format('woff2'),
        url('../font/Gabarito-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabarito';
    src: url('../font/Gabarito-Bold.woff2') format('woff2'),
        url('../font/Gabarito-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabarito';
    src: url('../font/Gabarito-Regular.woff2') format('woff2'),
        url('../font/Gabarito-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabarito';
    src: url('../font/Gabarito-Medium.woff2') format('woff2'),
        url('../font/Gabarito-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gabarito';
    src: url('../font/Gabarito-SemiBold.woff2') format('woff2'),
        url('../font/Gabarito-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

body {
    font-size: 17px;
}
/* light buttons  */
a {
    @apply font-semibold;
    @apply no-underline;
    @apply text-blue-600;
    @apply hover:text-blue-800;
}
 /* dark buttons  */
@media (prefers-color-scheme: dark) {
	a {
			@apply font-normal;
			@apply text-white;
			@apply hover:text-green-400;
	}
}

blockquote {
    @apply pl-6;
    @apply my-8;
    @apply text-lg;
    @apply font-normal;
    @apply italic;
    @apply text-gray-800;
    @apply border-l-4;
    @apply border-blue-400;
}

code {
    @apply px-2;
    @apply py-px;
    @apply text-sm;
    @apply bg-gray-300;
    @apply rounded-sm;
}

/* dark code  */
@media (prefers-color-scheme: dark) {
	code {
			@apply bg-gray-600;
	}
}

code.hljs {
    @apply p-0;
    @apply bg-transparent;

    & .hljs-comment,
    & .hljs-keyword,
    & .hljs-meta {
        @apply font-normal;
        @apply not-italic;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mt-8;
    @apply mb-4;
    @apply leading-tight;

    &:first-child {
        @apply mt-0;
    }
}

 /* dark headings  */
@media (prefers-color-scheme: dark) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-gray-100;
	}
}


h1 {
    @apply text-5xl;
    @apply font-extrabold;
}

h2 {
    @apply text-4xl;
    @apply font-bold;
}

h3 {
    @apply text-3xl;
    @apply font-bold;
}

h4 {
    @apply text-2xl;
    @apply font-normal;
}

h5 {
    @apply text-xl;
    @apply font-normal;
}

h6 {
    @apply text-lg;
    @apply font-light;
}

hr {
    @apply my-12;
    @apply border-b;
    @apply border-blue-200;
    @apply rounded-full;
}

li {
    & ul,
    & ol {
        @apply ml-8;
        @apply my-0;
    }
}

ol,
ul {
   	@apply my-3;

    @media (width >= theme(--breakpoint-md)) {
        @apply my-6;
    }
}

ol {
    @apply list-decimal;
}

ul {
    @apply list-disc;
}

p {
    @apply my-3;

    @media (width >= theme(--breakpoint-md)) {
        @apply my-6;
    }
}

pre {
    @apply p-4;
    @apply my-6;
    @apply text-base;
    @apply bg-gray-200;
    @apply leading-loose;
    @apply rounded-sm;
    @apply shadow-sm;
    @apply overflow-x-auto;

    & code {
        @apply block;
        @apply p-0;
        @apply bg-transparent;
    }
}

::selection {
    @apply text-white;
    @apply bg-blue-400;
}

[x-cloak] { display: none !important; }

.form-style {
 * {
	/* outline: 1px solid red; */
 }
}

input,
textarea {
	background: white;
}

 /* dark form inputs  */
@media (prefers-color-scheme: dark) {
	input,
	textarea {
			@apply bg-gray-900;
	}
}