
body {
    font-size: 17px;
}
/* light buttons  */
a {
    @apply font-normal duration-150 no-underline text-blue-500 hover:text-blue-700;

		&.active {
			/* outline: 1px solid red; */
			animation: 30s color-change infinite ease;
			text-decoration: underline;
			text-decoration-thickness: 1px;
			text-underline-offset: 6px;
		}
}

@keyframes color-change {
	0% {
		color: blue;
	}
	20% {
		color: cyan;
	}
	35% {
		color: green;
	}
	50% {
		color: orange;
	}
	65% {
		color: magenta;
	}
	95% {
		color: red;
	}
	100% {
		color: blue;
	}
}


 /* dark buttons  */
@media (prefers-color-scheme: dark) {
	a {
			@apply font-normal;
			@apply text-blue-400;
			@apply hover:text-sky-200;
	}
}

blockquote {
    @apply pl-6;
    @apply my-8;
    @apply text-lg;
    @apply font-normal;
    @apply italic;
    @apply text-gray-800;
    @apply border-l-4;
    @apply border-blue-400;
}

code {
    @apply px-2;
    @apply py-px;
    @apply text-sm;
    @apply bg-gray-300;
    @apply rounded-sm;
}

/* dark code  */
@media (prefers-color-scheme: dark) {
	code {
			@apply bg-gray-600;
	}
}

code.hljs {
    @apply p-0;
    @apply bg-transparent;

    & .hljs-comment,
    & .hljs-keyword,
    & .hljs-meta {
        @apply font-normal;
        @apply not-italic;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mt-8;
    @apply mb-3;
    @apply leading-tight;

    &:first-child {
        @apply mt-0;
    }
}

 /* dark headings  */
@media (prefers-color-scheme: dark) {
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-current;
	}
}

.kicker {
	@apply uppercase text-xs mt-0 mb-2 font-normal tracking-widest text-not-black dark:text-not-white;
}


h1 {
    @apply text-5xl;
    @apply font-extrabold;
}

h2 {
    @apply text-4xl;
    @apply font-bold;
}

h3 {
    @apply text-3xl;
    @apply font-bold;
}

h4 {
    @apply text-2xl;
    @apply font-normal;
}

h5 {
    @apply text-xl;
    @apply font-normal;
}

h6 {
    @apply text-lg;
    @apply font-light;
}

hr {
    @apply my-12;
    @apply border-b;
    @apply border-blue-200;
    @apply rounded-full;
}

li {
    & ul,
    & ol {
        @apply ml-8;
        @apply my-0;
    }
}

ol,
ul {
   	@apply my-2;

    @media (width >= theme(--breakpoint-md)) {
        @apply my-4;
    }
}

ol {
    @apply list-decimal;
}

ul {
    @apply list-disc;
}

p {
    @apply my-2;

    @media (width >= theme(--breakpoint-md)) {
        @apply my-3;
    }
}

pre {
    @apply p-4;
    @apply my-6;
    @apply text-base;
    @apply bg-gray-200;
    @apply leading-loose;
    @apply rounded-sm;
    @apply shadow-sm;
    @apply overflow-x-auto;

    & code {
        @apply block;
        @apply p-0;
        @apply bg-transparent;
    }
}

::selection {
    @apply text-not-black;
    @apply bg-yellow-400;
}

[x-cloak] { display: none !important; }

.form-style {
 * {
	/* outline: 1px solid red; */
 }
}

input,
textarea {
	background: white;
}

 /* dark form inputs  */
@media (prefers-color-scheme: dark) {
	input,
	textarea {
			@apply bg-neutral-900;
	}

	::selection {
    @apply text-not-black;
    @apply bg-purple-300;
}
}