
.btn-special {
	appearance: none;
	background: linear-gradient(to right, mediumblue, blue, cyan, chartreuse, green, green);
	background-size: 350% 100%;
	transition: all 1s ease-in-out;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.55);
}

.btn-special:hover {
	background-position: 100% 0;
}

.btn:hover {
	animation-name: flow;
	animation-duration: 500ms;
	animation-timing-function: linear;
}

@keyframes flow {
	0% {
		background-position: 0% 50%;
	}

	100% {
		background-position: 100%;
	}
}
