.btn-special {
	appearance: none;
	display: inline-block;
	background: linear-gradient(to right, mediumblue, blue, cyan, chartreuse, green, green);
	background-size: 350% 100%;
	transition: all 250ms ease-in-out;
	box-shadow: 0px 2px 5px rgba(0,0,0,0.55);
	cursor: pointer;
	font-weight: 700;
}

.btn-special:hover {
	background-position: 100% 0;
}

.btn-green {
	@apply border-2 border-not-black text-not-black;
	appearance: none;
	display: inline-block;
	background: linear-gradient(to right, transparent, transparent, transparent, cyan, blue, red, red, orange);
	background-size: 350% 100%;
	transition: all 250ms ease-in-out;
	cursor: pointer;
	box-shadow:0px 0px 0px rgba(0,0,0,1.0);
}

.btn-not-black {
	appearance: none;
	display: inline-block;
	color:#0c0c0c;
	font-weight: 700;
	border:1px solid #0c0c0c;
	background: linear-gradient(to right, transparent, transparent, transparent, white, #0c0c0c, #0c0c0c, #0c0c0c);
	/* background: linear-gradient(to right, forestgreen, darkgreen, green, limegreen, yellowgreen, yellow, orange, darkorange, tomato); */
	background-size: 350% 100%;
	transition: all 250ms ease-in-out;
	cursor: pointer;
	/* box-shadow: 0px 2px 5px rgba(0,0,0,0.55); */
}

.btn-special-3 {
	appearance: none;
	display: inline-block;
	color:#f54a00;
	font-weight: 700;
	border:1px solid #f54a00;
	background: linear-gradient(to right, transparent, transparent, transparent, yellow, orange, #f54a00);
	/* background: linear-gradient(to right, forestgreen, darkgreen, green, limegreen, yellowgreen, yellow, orange, darkorange, tomato); */
	background-size: 350% 100%;
	transition: all 250ms ease-in-out;
	cursor: pointer;
	/* box-shadow: 0px 2px 5px rgba(0,0,0,0.55); */
}

.btn-green:hover {
	background-position: 100% 0;
	border-color: black !important;
	color: white !important;
	/* text-shadow:-2px 2px 0px rgba(0,0,0,1.0); */
	box-shadow:-3px 3px 0px rgba(0,0,0,1.0);
	transform:translateY(-6px)translateX(10px);
}

.btn-green:active {
	box-shadow:-2px 6px 0px rgba(0,0,0,1.0);
	transform:translateY(-3px)translateX(8px);
}

.btn-not-black:hover {
	background-position: 100% 0;
	color: white;
}

.btn-special-3:hover {
	background-position: 100% 0;
	border-color: transparent;
	color: white;
}

@media (prefers-color-scheme: dark) {
	.btn-green,
	.btn-special-3 {
		color: white;
		border-color: white;
	}

	.btn-green {
		background: linear-gradient(to right, transparent, transparent, transparent, lime,white, white, white);
		background-size: 350% 100%;
	}

	.btn-green:hover {
		background-position: 100% 0;
		color: #002c22;
	}	
}




