
.backfill-1 {
	width: 180px;
	height: 60px;
	background: white;
}

.gradient-1 {
	width: 180px;
	height: 60px;
	background: blue;
	background: linear-gradient(90deg, cyan, blue);
}

.backfill-2 {
	width: 60px;
	height: 180px;
	background: white;
	
}

.gradient-2 {
	width: 60px;
	height: 180px;
	background: red;
	background: linear-gradient(0deg, red, orange);
}

.backfill-3 {
	width: 120px;
	height: 120px;
	background: white;
	
}

.gradient-3 {
	width: 120px;
	height: 120px;
	background: linear-gradient(-45deg, green, yellow);
}

.backfill-1,
.backfill-2,
.backfill-3 {
	/* change to normal on white bg overlay on black bg  */
	mix-blend-mode: overlay;
	z-index: -1;
}

.gradient-1,
.gradient-2,
.gradient-3 {
	mix-blend-mode: screen;
	z-index: 1;
}

.gradient-1,
.backfill-1 {
	animation: 15s expand-1 ease-out;
	width: 180px;
	height: 60px;
	animation-delay: 1s;
}

.gradient-2,
.backfill-2 {
	animation: 15s expand-2 ease-out;
	width: 60px;
	height: 180px;
	animation-delay: 1s;
}

.gradient-3,
.backfill-3 {
	animation: 15s expand-3 ease-out;
	width: 120px;
	height: 120px;
	animation-delay: 1s;
}
.shield-cover,
.shield-cover-2 {
	background: black;
	position: absolute;
	top:0;
	left:0;
	z-index:-1;
	animation-delay: 1s;
}
.shield-cover {
	animation: 15s reveal-1 ease-in;
	width: 110%;
	height: 135%;
}

.shield-cover-2 {
	animation: 15s reveal-2 ease-in;
	width: 82%;
	height: 82%;
}

.text-wrapper {
	animation: 15s fade-text ease-out;
	animation-delay: 1s;
}

.intro-wrapper {
	opacity: 0;
	animation: 15s delay-all linear;
}

@keyframes delay-all {
	7%{
		opacity: 0;
	}
	8%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fade-text {
	0%{
		opacity: 0;
	}
	16%{
		opacity: 0;
	}
	19%{
		opacity: 1;
	}
}


@keyframes expand-1 {
    0% {
        transform: scaleX(0) scaleY(0.067);
        transform-origin: left top;
    }

    2% {
        transform: scaleX(1) scaleY(0.067);
        transform-origin: left top;
    }

    5% {
        transform: scaleX(1) scaleY(1);
        transform-origin: left top;
    }

    100% {
        transform: scaleX(1) scaleY(1);
        transform-origin: left top;
    }
}

@keyframes expand-2 {
    0%, 3% {
        transform: scaleX(0.022) scaleY(0);
        transform-origin: left top;
    }

    5% {
        transform: scaleX(0.022) scaleY(1);
        transform-origin: left top;
    }

    8%, 100% {
        transform: scaleX(1) scaleY(1);
        transform-origin: left top;
    }
}

@keyframes expand-3 {
    0%, 6% {
        transform: scaleX(0) scaleY(0.033);
        transform-origin: left 75%;
    }

    8% {
        transform: scaleX(1) scaleY(0.033);
        transform-origin: left 75%;
    }

    10%, 100% {
        transform: scaleX(1) scaleY(1);
        transform-origin: left 75%;
    }
}

@keyframes reveal-1 {
    0%, 12% {
        transform: translate(-15%, -25%) rotate(45deg);
    }

    19% {
        transform: translate(55%, 37%) rotate(45deg);
    }

    20%, 100% {
        transform: translate(55%, 37%) rotate(45deg);
    }
}

@keyframes reveal-2 {
    0%, 17% {
        transform: translate(48%,48%) scale(1);
        transform-origin: right bottom;
    }

    18% {
        transform: translate(48%,48%) scale(1);
        transform-origin: right bottom;
    }

    24%, 100% {
        transform: translate(48%,48%) scale(0);
        transform-origin: right bottom;
    }
}
