
.backfill-1 {
	width: 180px;
	height: 60px;
	background: white;
}

.gradient-1 {
	width: 180px;
	height: 60px;
	background: blue;
	background: linear-gradient(90deg, cyan, blue);
}

.backfill-2 {
	width: 60px;
	height: 180px;
	background: white;
	
}

.gradient-2 {
	width: 60px;
	height: 180px;
	background: red;
	background: linear-gradient(0deg, red, orange);
}

.backfill-3 {
	width: 120px;
	height: 120px;
	background: white;
	
}

.gradient-3 {
	width: 120px;
	height: 120px;
	background: linear-gradient(-45deg, green, yellow);
}

.backfill-1,
.backfill-2,
.backfill-3 {
	/* change to normal on white bg overlay on black bg  */
	mix-blend-mode: overlay;
	z-index: -1;
}

.gradient-1,
.gradient-2,
.gradient-3 {
	mix-blend-mode: screen;
	z-index: 1;
}

.gradient-1,
.backfill-1 {
	animation: 20s expand-1 ease-out;
	animation-delay: 2s;
}

.gradient-2,
.backfill-2 {
	animation: 20s expand-2 ease-out;
	animation-delay: 2s;
}

.gradient-3,
.backfill-3 {
	animation: 20s expand-3 ease-out;
	animation-delay: 2s;
}

.shield-cover {
	animation: 20s reveal-1 ease-in;
	animation-delay: 2s;
	width: 125%;
	height: 125%;
	top: -15%;
	left: -15%;
	transform: rotate(45deg);
	pointer-events: none;
	z-index:-1;
	opacity: 0;
}

.shield-cover-2 {
	animation: 20s reveal-2 ease-in;
	animation-delay: 2s;
	width: 82%;
	height: 82%;
	pointer-events: none;
	transform: rotate(45deg);
	z-index:-1;
	opacity: 0;
}

.text-wrapper {
	animation: 20s fade-text ease-out;
	animation-delay: 2s;
}

.intro-wrapper {
	opacity: 0;
	animation: 20s delay-all linear;
}

@keyframes delay-all {
	10%{
		opacity: 0;
	}
	11%{
		opacity: 1;
	}
	100%{
		opacity: 1;
	}
}

@keyframes fade-text {
	0%{
		opacity: 0;
	}
	16%{
		opacity: 0;
	}
	19%{
		opacity: 1;
	}
}


@keyframes expand-1 {
	0% {
		width: 0px;
		height: 4px;
	}

	2% {
		width: 180px;
		height: 4px;
	}

	5% {
		width: 180px;
		height: 60px;
	}
	100% {
		width: 180px;
		height: 60px;
	}
}

@keyframes expand-2 {
	0% {
		width: 4px;
		height: 0px;
	}

	3% {
		width: 4px;
		height: 0px;
	}

	5% {
		width: 4px;
		height: 180px;
	}

	8% {
		width: 60px;
		height: 180px;
	}
	100% {
		width: 60px;
		height: 180px;
	}
}

@keyframes expand-3 {
	0% {
		width: 0px;
		height: 4px;
		top: 90px;
	}

	6% {
		width: 0px;
		height: 4px;
		top: 90px;
	}

	8% {
		width: 120px;
		height: 4px;
		top: 90px;
	}

	10% {
		width: 120px;
		height: 120px;
		top: 0px;
	}
	100% {
		width: 120px;
		height: 120px;
		top: 0px;
	}
}

@keyframes reveal-1 {
	0% {
		opacity: 1;
		top: -15%;
		left: -15%;
	}
	8% {
		opacity: 1;
		top: -15%;
		left: -15%;
	}
	12% {
		opacity: 1;
		top: 52%;
		left: 52%;
	}
	13% {
		opacity: 0;
		top: 52%;
		left: 52%;
	}
	100% {
		opacity: 0;
		top: 52%;
		left: 52%;
	}
}

@keyframes reveal-2 {
	0% {
		opacity: 1;
		left: 33.333%;
		top: 33.333%;
		height: 81%;
	}
	12% {
		opacity: 1;
		left: 33.333%;
		top: 33.333%;
		height: 81%;
	}
	14% {
		opacity: 1;
		left: 25%;
		top: 75%;
		height: 0;
	}
	15% {
		left: 25%;
		top: 75%;
		height: 0;
		opacity: 0;
	}
	100% {
		left: 25%;
		top: 75%;
		height: 0;
		opacity: 0;
	}
}
