@import "tailwindcss";

@theme {
	--color-not-black: #0c0c0c;
	--color-not-white: #e1e1e1;
	--leading-tighter: 1.1;
	--leading-tightest: 1;
}

@import './base.css' layer(components);
@import './blog.css' layer(components);
@import './hamburgers.css' layer(components);
@import './button.css' layer(components);
@import './toggle.css' layer(components);
@import './intro.css' layer(components);

@layer base {
  :root {
    --font-sans: "Gabarito", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
      "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
      "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --shadow-search: 0 -1px 27px 0 rgba(0, 0, 0, 0.04), 0 4px 15px 0 rgba(0, 0, 0, 0.08);
  }

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }

  body {
    font-family: var(--font-sans);
  }
}

@layer utilities {
  .shadow-search {
    box-shadow: var(--shadow-search);
  }
}

.colours {
	@apply absolute top-0 left-0 bg-red-500 -z-1 pointer-events-none;
	width: 200%;
	height: 200%;
	background: linear-gradient(to right, white, yellow, limegreen, cyan,blue, black, blue, magenta, red, orange, white);
	animation: aneurysm 60s linear infinite;
}

.colours-2 {
	@apply absolute bottom-0 right-0 bg-red-500 z-0 pointer-events-none invert;
	mix-blend-mode: darken;
	width: 200%;
	height: 200%;
	background: linear-gradient(to top, white, yellow, limegreen, cyan,blue, black, blue, magenta, red, orange, white);
	animation: aneurysm-2 60s linear infinite;
}

@keyframes aneurysm {
	0% {
		top: 0;
		left: 0;
	}

	25% {
		top: -100%;
		left: 0;
	}

	50% {
		top: -100%;
		left: -100%;
	}

	75% {
		top: 0;
		left: -100%;
	}

	100% {
		top: 0;
		left: 0;
	}
}

@keyframes aneurysm-2 {
	0% {
		bottom: 0;
		right: 0;
	}

	25% {
		bottom: -100%;
		right: 0;
	}

	50% {
		bottom: -100%;
		right: -100%;
	}

	75% {
		bottom: 0;
		right: -100%;
	}

	100% {
		bottom: 0;
		right: 0;
	}
}

